<form class= "{{cssClass}}" autocomplete="off">
    <img src="{{image.img}}" data-edit="image"  title="{{item.name}}" height="128" width="128"/>
    <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    <label>Dégats
        <input name="data.degats" type="text" value="{{data.degats}}" placeholder="dégats"/>
    </label>
    <label>Bonus aux Dégats
        <input name="data.bonusDegats" type="text" value="{{data.bonusDegats}}" placeholder="Bonus aux Dégats"/>
    </label>
    <label>Touche
        <input name="data.touche" type="text" value="{{data.touche}}" placeholder="Touche"/>
    </label>
    <label>Rareté
        <input name="data.rarete" type="text" value="{{data.rarete}}" placeholder="Rarete"/> 
    </label>
    <label>Type de Dégats
        <input name="data.typeDegats" type="text" value="{{data.typeDegats}}" placeholder="Type de Dégats"/>
    </label>
    <label>Description
        <textarea name="data.description" placeholder="Description">{{data.description}}</textarea>
        <label class="checkbox">
            <input name="data.descriptionVisible" type="checkbox" value="1" {{#if data.descriptionVisible}}checked{{/if}}/>
            Description visible
         </label>
    </label>
    <label>Maniabilité
        <input name="data.maniement" type="text" value="{{data.maniement}} mains" placeholder="Maniabilité"/>
    </label>
    <ul class="list-inline">
        <li>
            <label>Traits
    <input name="data.traits" type="text" value="{{data.traits}}" placeholder="Traits"/>
            </label>
        </li>
        <li>
            <label>Imperfections
                <input name="data.imperfections" type="text" value="{{data.imperfections}}" placeholder="Imperfections"/>
            </label>
        </li>
    </ul>
    <label>Valeur
        <input name="data.valeurOr" type="text" value="{{data.valeurOr}}Po" placeholder="Valeur"/>
    </label>
</form>